.header {
  background-color: #282c34;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  box-shadow: 0 0 10px 0px #282c34;
}

.header__icon {
  height: 50%;
  margin: 0 1em 0 4em;
}